*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main{
    padding: 10% 0;
}

.center{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}



.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-self: space-between;
}

.menu a{
    color: blueviolet;
    text-decoration: none;
    border: 1% solid blueviolet;
    padding: 3px 10px;
    border-radius: 5px;
}